<!DOCTYPE html>
<html lang="en-US" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>quarl.es</title>
    <link href="http://fonts.googleapis.com/css?family=Ceviche+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto|Ceviche+One|BenchNine" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="lib/build.css">
    <link rel="icon" href="favicon.png" type="image/x-icon">
  </head>
  <body ng-controller="Main as main">
    <header ng-controller="Header as header">
      <div class="topnav">
        <ul ng-cloak ng-show="myData &amp;&amp; outOf" class="left">
          <li class="cwlogo"><a href="http://www.codewars.com/users/johnwquarles"><img src="http://dev.codewars.com/images/logo-220ae435.png"></a></li>
          <li class="leftSub">
            <ul class="leftSub">
              <li class="completed">
                <p>{{myData.codeChallenges.totalCompleted}} Code Challenges Completed</p>
              </li>
              <li class="rank">
                <p>Leaderboard Position: {{myData.leaderboardPosition}} / {{outOf}}</p>
              </li>
              <li class="misc"><span>Overall:<span style="color:{{myData.ranks.overall.color}}"> {{myData.ranks.overall.name}},</span><span> Javascript:</span><span style="color:{{myData.ranks.languages.javascript.color}};"> {{myData.ranks.languages.javascript.name}},</span><span> C#:</span><span style="color:{{myData.ranks.languages.csharp.color}}"> {{myData.ranks.languages.csharp.name}}</span></span></li>
              <li class="points">
                <p>Honor: {{myData.honor}}, Overall Score: {{myData.ranks.overall.score}}</p>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="right">
          <li><a href="mailto:john.w.quarles@gmail.com"><i class="fa fa-2x fa-envelope"></i></a></li>
          <li><a href="https://qdevdive.blogspot.com/"><i class="fa fa-2x fa-book"></i></a></li>
          <li><a href="https://twitter.com/johnwquarles"><i class="fa fa-2x fa-twitter"></i></a></li>
          <li><a href="https://github.com/johnwquarles"><i class="fa fa-2x fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/pub/john-quarles/b8/a9a/805"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
          <li><a href="https://soundcloud.com/johnwq"><i class="fa fa-2x fa-soundcloud"></i></a></li>
        </ul>
      </div>
      <div class="header"><img src="img/me.jpeg" ng-click="main.iconColorChange()">
        <h1>quarl.es</h1>
      </div>
    </header>
    <div class="content">
      <div class="top-buttons">
        <div ng-repeat="site in main.features" class="feature-button">
          <div class="copy-contain"><a ng-href="{{site.link_url}}"><img ng-src="{{site.img_url}}" alt="{{site.alt}}"><span class="copy"><span>{{site.copy}}</span></span></a><a ng-href="{{site.github_url}}"><i class="fa fa-2x fa-github"></i><span class="tech"><span>{{site.tech}}</span></span></a></div>
        </div>
        <div ng-repeat="site in main.mysites" class="link-button">
          <div class="copy-contain"><a ng-href="{{site.link_url}}"><img ng-src="{{site.img_url}}" alt="{{site.alt}}"><span class="copy"><span>{{site.copy}}</span></span></a><a ng-href="{{site.github_url}}"><i class="fa fa-2x fa-github"></i><span class="tech"><span>{{site.tech}}</span></span></a></div>
        </div>
      </div>
      <div class="bottom-half">
        <p class="separate">Contributions:</p>
        <div class="bottom-buttons">
          <div ng-repeat="contrib in main.contribs" class="contrib-button">
            <div class="copy-contain"><a ng-href="{{contrib.link_url}}"><img ng-src="{{contrib.img_url}}" alt="{{contrib.alt}}"><span class="copy"><span>{{contrib.copy}}</span></span></a><a ng-href="{{contrib.github_url}}"><i class="fa fa-2x fa-github"></i><span class="tech"><span>{{contrib.tech}}</span></span></a></div>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
  </body>
  <script src="lib/build.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/factories.js"></script>
  <script src="js/HeaderCtrl.js"></script>
  <script src="js/MainCtrl.js"></script>
  <script src="js/AjaxFac.js"></script>
  <script src="js/ColorsFac.js"></script>
  <script src="js/FeaturesFac.js"></script>
  <script src="js/LinksFac.js"></script>
  <script src="js/ContribsFac.js"></script>
</html>