$transitiontime: 3s;
$darkerblue: #00D;
$ghIconBlue: #00D;
$techCopyBlue: #33F;


 // S refers to the height to use for the shadow
 // such that it extends all the way to the bottom of the
 // image.
$featureWidth: 550px;
$featureHeight: 275px;
$featureHeightS: 276px;

$featureCopyFont: 26px;
$featureTechFont: 34px;

$linkWidth: 350px;
$linkHeight: 175px;
$linkHeightS: 176px;

$linkCopyFont: 20px;
$linkTechFont: 20px;

$contribWidth: 180px;
$contribHeight: 90px;
$contribHeight: 91px;

$cwFontSize: 15px;
$cwLogoHeight: 66px;
$cwLogoWidth: 58px;
