extends ./_partials/_layout

block content
  .top-buttons
    .feature-contain
      .feature-button(ng-repeat="site in main.features")
        .copy-contain
          a(ng-href="{{site.link_url}}")
            img(ng-src="./img/{{site.img}}" alt="{{site.alt}}")
            span.copy
              span {{site.copy}}
          a(ng-href="{{site.github_url}}")
            i.fa.fa-2x.fa-github
            span.tech
              span(ng-cloak) {{site.tech}}
        p.notice Note: The Unity Web Player doesn't currently play nice with Chrome;
        p.notice Please access Earth Invasion with Firefox, Internet Explorer or Safari.

    .link-button(ng-repeat="site in main.mysites")
      .copy-contain
        a(ng-href="{{site.link_url}}")
          img(ng-src="./img/{{site.img}}" alt="{{site.alt}}")
          span.copy
            span {{site.copy}}
        a(ng-href="{{site.github_url}}")
          i.fa.fa-2x.fa-github
          span.tech
            span(ng-cloak) {{site.tech}}

  .bottom-half
    p.separate Contributions:
    .bottom-buttons
      .contrib-button(ng-repeat="contrib in main.contribs")
        .copy-contain
          a(ng-href="{{contrib.link_url}}")
            img(ng-src="./img/{{contrib.img}}" alt="{{contrib.alt}}")
            span.copy
              span {{contrib.copy}}
          a(ng-href="{{contrib.github_url}}")
            i.fa.fa-2x.fa-github
            span.tech
              span(ng-cloak) {{contrib.tech}}
