header(ng-controller="Header as header")
  span(us-spinner="{radius: 10, width: 5, length: 12, color: '#FFF', position: absolute, top: '42px', left: '160px'}" spinner-key="codewars")
  .topnav
    ul.left(ng-cloak ng-class="{'hidden': header.loading}")
      li.cwlogo: a(href='http://www.codewars.com/users/johnwquarles'): img(src="http://dev.codewars.com/images/logo-220ae435.png")
      li.leftSub: ul.leftSub
            li.completed: p {{header.myData.codeChallenges.totalCompleted}} Code Challenges Completed
            li.rank: p Leaderboard Position: {{header.myData.leaderboardPosition}} / {{header.outOf}}
            li.misc: span Overall:
                     span(style="color:{{header.myData.ranks.overall.color}}")  {{header.myData.ranks.overall.name}}
                     span , Javascript:
                     span(style="color:{{header.myData.ranks.languages.javascript.color}};")  {{header.myData.ranks.languages.javascript.name}}
                     span , C#:
                     span(style="color:{{header.myData.ranks.languages.csharp.color}}")  {{header.myData.ranks.languages.csharp.name}}
            li.points: p Honor: {{header.myData.honor}}, Overall Score: {{header.myData.ranks.overall.score}}
    ul.right
      div.link-icon
        li: a(href="mailto:john.w.quarles@gmail.com"): i.fa.fa-2x.fa-envelope
        p: a(href="mailto:john.w.quarles@gmail.com") email me
      div.link-icon
        li: a(href="https://qdevdive.blogspot.com/"): i.fa.fa-2x.fa-book
        p: a(href="https://qdevdive.blogspot.com/") blog
      div.link-icon
        li: a(href="https://twitter.com/johnwquarles"): i.fa.fa-2x.fa-twitter
        p: a(href="https://twitter.com/johnwquarles") twitter
      div.link-icon
        li: a(href="https://github.com/johnwquarles"): i.fa.fa-2x.fa-github
        p: a(href="https://github.com/johnwquarles") github
      div.link-icon
        li: a(href="https://www.linkedin.com/in/johnwquarles"): i.fa.fa-2x.fa-linkedin-square
        p: a(href="https://www.linkedin.com/in/johnwquarles") linkedin
      div.link-icon
        li: a(href="https://soundcloud.com/johnwq"): i.fa.fa-2x.fa-soundcloud
        p: a(href="https://soundcloud.com/johnwq") soundcloud
  .headerPart
    img(src="img/me.jpeg" ng-click="main.iconColorChange()")
    h1 quarl.es
